//
// Typography
//
// stylelint-disable primer/selector-no-utility, primer/no-override, selector-no-type, selector-max-type

h1,
.text-alpha {
  @include fs-8;
  font-weight: 300;
}

h2,
.text-beta {
  @include fs-6;
}

h3,
.text-gamma {
  @include fs-5;
}

h4,
.text-delta {
  @include fs-2;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h4 code {
  text-transform: none;
}

h5,
.text-epsilon {
  @include fs-3;
  color: $grey-dk-200;
}

h6,
.text-zeta {
  @include fs-2;
  color: $grey-dk-200;
}

.text-small {
  @include fs-2;
}

.text-mono {
  font-family: $mono-font-family !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

blockquote{
  padding: .75em .5em .75em 1em;
  background: white;
  border-left: 0.5em solid #DDD;
}

blockquote::before {
  display: block;
  height: 0;
  margin-left: -.95em;
  font: italic 400%/1 Open Serif,Georgia,"Times New Roman", serif;
  color: #999;
}

/* for nested paragraphs in block quotes */
blockquote p {
  display: inline;
  color:grey;
}
